@import "~bootstrap/scss/bootstrap";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-4 {
    .card {
        height: 200px;
    }
}

body {
    background-color: #ddd;
}
ul {
    list-style: none;
    padding: 0;
}

p {
    padding: 0;
    text-transform: uppercase;
    &:hover {
        color: white;
        transition: 1s ease-in-out;
    }
}
a {
    text-decoration: none;
    color: #333;
}

input {
    margin: 0 0 20px;
}
